@model Portfoy.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Proje Ekleme Sayfası</h5>
                </div>
                <div class="card-body">
                    <form  method="post">
                        <!-- Post işlemi için form oluşturuluyor -->
                        <div>
                            <strong>Proje Adı :</strong>
                            @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })
                        </div>
                        <br />
                        <div>
                            <strong>Proje Resmi :</strong>
                            @Html.TextBoxFor(x => x.ProjectImageUrl, new { @class = "form-control" })
                        </div>
                        <br />
                        <div>
                            <strong>Proje Url:</strong>
                            @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
                        </div>
                        <br />
                        <div>
                            <strong>Proje Kategorisi:</strong>
                           @Html.DropDownListFor(x=>x.ProjectCategory,(List<SelectListItem>)ViewBag.category,new {@class= "form-control" })
                        </div>
                        <br />

                        <div>
                            <strong>Durum:</strong>
                            <select class="form-control"  id="Durum" name="Durum" required>
                                <option selected disabled>Durum Seçiniz</option>
                                <option value="true" style="background-color: #28a745; color: #fff;">Aktif Et</option>
                                <option value="false" style="background-color: #dc3545; color: #fff;">Pasif Et</option>
                            </select>
                        </div>
                        <br />
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                            <a href="/Project/Index" class="btn btn-danger">Geridön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



