
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<br />
<br />
<br />
<form class="form-control"  method="post">
    <div class="form-group">
        <label for="CategoryName" class="form-label h5">Kategori Adı</label>
        <input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="Kategori Adı Giriniz" required>
    </div>
    <div class="form-group">
        <label for="Durum" class="form-label h5">Durum</label>
        <select class="form-select form-select-lg" id="Durum" name="Durum" required>
            <option selected disabled>Durum Seçiniz</option>
            <option value="true" style="background-color: #28a745; color: #fff;">Aktif</option>
            <option value="false" style="background-color: #dc3545; color: #fff;">Pasif</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg">Kategori Kaydet</button>
    </div>
</form>