@model Portfoy.Models.TblSocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Sosyal Meyda Güncelleme Sayfası</h5>
                </div>
                <div class="card-body">
                    <form  method="post">
                        <!-- Post işlemi için form oluşturuluyor -->
                        <div>
                            <strong>Sosyalmedya Adı :</strong>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>
                        <br />
                        <div>
                            <strong>Adres Url :</strong>
                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                        </div>
                        <br />
                        <div>
                            <strong>Sosyalmedya Image :</strong>
                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                        </div>
                        <br />

                        <div>
                            <strong>Durum:</strong>
                            <select class="form-control" id="Durum" name="Durum" required>
                                <option selected disabled>Durum Seçiniz</option>
                                <option value="true" style="background-color: #28a745; color: #fff;">Aktif Et</option>
                                <option value="false" style="background-color: #dc3545; color: #fff;">Pasif Et</option>
                            </select>
                        </div>
                        <br />
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Kaydet</button>
                            <a href="/SocialMedia/Index" class="btn btn-danger">Geridön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
