<div class="sidebar_blog_1">
    <div class="sidebar-header">
        <div class="logo_section">
            <a href="#"><img class="logo_icon img-responsive rounded-circle" src="~/Admin/images/logo/DemhatYoldas.jpeg" alt="#" /></a>
        </div>
    </div>
    <div class="sidebar_user_info">
        <div class="icon_setting"></div>
        <div class="user_profle_side">
            <div class="user_img"><img class="img-responsive" src="~/Admin/images/layout_img/DemhatYoldas.jpeg" alt="#" /></div>
            <div class="user_info">
                <h6>Demhat Yoldaş</h6>
                <p><span class="online_animation"></span> Online</p>
            </div>
        </div>
    </div>
</div>
<div class="sidebar_blog_2">
    <ul class="list-unstyled components">
        <li>
            <a href="/Dashboard/Index/"><i class="fa fa-dashboard yellow_color"></i> <span>Anasayfa</span></a>
        </li>

        <li>
            <a href="/About/Index/"><i class="fa fa-clock-o orange_color"></i> <span>Hakkımda</span></a>
        </li>

        <li>
            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Yetenek ve deneyim</span></a>
            <ul class="collapse list-unstyled" id="element">
                <li><a href="/Experience/Index/">> <span>Deneyimlerim</span></a></li>
                <li><a href="/Skills/Index/">> <span>Yeteneklerim</span></a></li>

            </ul>
        </li>

        <li><a href="/Education/Index/"><i class="fa fa-paper-plane red_color"></i><span>Eğitim Hayatım</span></a></li>

        <li>
            <a href="/Category/Index/"><i class="fa fa-paper-plane red_color"></i> <span>Kategoriler</span></a>
        </li>

        <li>
            <a href="/Project/Index/"><i class="fa fa-paper-plane red_color"></i> <span>Projelerim</span></a>
        </li>

        <li>
            <a href="/Testimonial/Index/"><i class="fa fa-object-group blue2_color"></i> <span>Referanslarım</span></a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-diamond purple_color"></i> <span>İletişim</span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/Connection/Index/">İletişim Bilgilerim</a></li>
                <li><a href="/Contact/Index/">Mesajlarım</a></li>
                <li><a href="/SocialMedia/Index/">Sosyal Medya</a></li>
            </ul>
        </li>



    </ul>
</div>